name: Coffeeshop App CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-test:
    name: Analyze and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.3"
          channel: "stable"
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Fix code analysis issues
        run: dart fix --apply

      - name: Analyze project
        run: flutter analyze --no-fatal-infos

  build-and-push-docker:
    name: Build and Push Docker Image
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        id: repo
        run: |
          echo "owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          echo "name=$(echo ${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ steps.repo.outputs.owner }}/${{ steps.repo.outputs.name }}:latest
            ghcr.io/${{ steps.repo.outputs.owner }}/${{ steps.repo.outputs.name }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            "KEYSTORE_BASE64=${{ secrets.KEYSTORE_BASE64 }}"
            "STORE_PASSWORD=${{ secrets.STORE_PASSWORD }}"
            "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}"
            "KEY_ALIAS=${{ secrets.KEY_ALIAS }}"
          outputs: type=local,dest=./build-outputs

      - name: Upload APK as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: ./build-outputs/app/outputs/flutter-apk/app-release.apk